<div class="tag-banner__text-only">
  {{#if (eq this.site.siteSettings.tag_style "simple")}}
    {{#if (eq (theme-setting "hide_tag_icon") false)}}
      {{d-icon "tag"}}
    {{/if}}
  {{/if}}
  {{discourse-tag @tag.name displayName=@formattedTagName}}
  {{#if @formattedAdditionalTagNames}}
    &amp;
    {{@formattedAdditionalTagNames}}
  {{/if}}
</div>
