.tag-title-header {
  padding-top: 60px;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  background: $primary-very-low;
  min-height: 123px;
  @media screen and (max-width: 450px) {
    min-height: 70px;
  }
  .tag-title-contents {
    max-width: 700px;
    padding: 45px 40px 40px 40px;
    @media screen and (max-width: 450px) {
      padding: 20px;
    }
    svg {
      height: 1.5em;
      width: 1.1em;
      margin-right: 0.25em;
    }
    h1 {
      display: inline;
    }
  }
  .tag-title-description {
    a,
    a:visited {
      color: inherit;
      text-decoration: underline;
    }
  }
}
.tag-banner {
  #main-outlet {
    padding-top: 20px;
  }
}
