.tag-title-header {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  background: var(--primary-very-low);

  .tag-title-contents {
    max-width: 46em;
    padding: 3.5em 3em 3em;

    @media screen and (max-width: 450px) {
      padding: 1.5em;
    }
    svg {
      height: 1.5em;
      width: 1.1em;
      margin-right: 0.25em;
    }
    h1 {
      display: inline;
      margin: 0;
    }
    p:empty {
      display: none;
    }
  }
  .tag-title-description {
    a,
    a:visited {
      color: inherit;
      text-decoration: underline;
    }
  }
}
.tag-banner {
  #main-outlet {
    padding-top: 1.5em;
  }
}

.mobile-view {
  .tag-title-header {
    min-height: 3em; // prevents hop when tag name loads
    p {
      margin-top: 0;
    }
  }
}

// category banner integration

.tag-banner__text-only {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-down-4);
  font-weight: normal;

  .d-icon {
    font-size: var(--font-down-3);
    margin-right: 0.33em;
  }

  .discourse-tag,
  .discourse-tag.bullet,
  .discourse-tag.box,
  .discourse-tag.simple {
    margin: 0;
    color: currentColor;
    &:before {
      background: currentColor;
    }
  }

  .discourse-tag.box {
    background: transparent;
    font-size: var(--font-down-1);
    box-shadow: 0 0 0 1px currentColor;
  }
}
